*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    list-style-type: none;
    text-decoration: none;
}
.header{
    width: 80%;
    height: 90px;
    margin: 0 auto;
}
.header-inner {
    display: flex;
    position: relative;
}
.header-inner .logo{
    width: 50%;
    height: 90px;
    /* background-color: blue; */
}
.menu{
    width: 50%;
    height: 90px;
    /* background-color: blueviolet; */
   
}
.menu ul{
    list-style-type: none;
    position: absolute;
    bottom: 30%;
    right: 0; 
}
.menu ul li{
    float: right;
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #ff7979;
}
.menu li:hover{
    color: #eb4d4b;
}

.SearchFood{
    background-image: url(./Image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 6%;
    margin-top: 20px;

}
.container{
    padding: 1%;
    margin: auto;
    text-align: center;
}

.SearchFood input[type = "Search"]{
    width: 50%;
    padding: 1%;
    font-weight: bold;

}
.SearchFood .btn{
    padding: 1%;
    border-radius: 10%;
    background-color: #ff7979;
    color: #ffffff;
    border: none;
}
.btn:hover{
    background-color: #eb4d4b;
}

.Explore_Food{
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    
}
.menu_Explore{
    width: 80%;
    padding: 1%;
    margin: auto;
    padding-top: 3%;
}
.menu_food{
    display: flex;
    margin: auto;
    justify-content: space-evenly;

}
.img_menu_food{
    width: 50%;
    position: relative;
}
.img_menu_food img{
    border-radius: 5%;
}
.Title_Food{
    position: absolute;
    bottom: 40px;
    left: 40%;
    color: white;
}

.body{
    width: 100%;
    margin-top: 50px;
}
.body h1{
    text-align: center;
}
.content{
    width: 100%;
    /* height: 1000px; */
    background-color: rgb(233, 233, 233);
    margin: 30px auto;

}
.row{
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
}
.menu_box{
    width: 450px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.menu_box .img_menu img{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    margin-top: 10px;
    margin-right: 30px;
}
.title_menu{
    font-size: 60;
    line-height: 1.5;
}

.title_menu .ordernow{
    margin-top: 15px;
    background-color: #ff7979;
    display: inline-block;
    padding: 1%;
    border-radius: 6px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
}

.title_menu .ordernow:hover{
    background-color: #eb4d4b;

}

.bottom{
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
}
.bottom .abcs p{
    color: #ff7979;
}
.bottom .abcs p:hover{
    color: #eb4d4b;
}

.logo_information{
    text-align: center;
    padding-top: 2%;
}
.logo_information ul{
    list-style-type: none;
    padding: 1%;
    padding-bottom: 2%;

}
.logo_information ul li{
    display: inline;
}
.Text_information {
    text-align: center;
    margin-bottom: 50px;
}
.Text_information a{
    
    color: #ff7979;
}