*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    list-style-type: none;
    text-decoration: none;
}

.header{
    width: 80%;
    height: 90px;
    /* background-color: aquamarine; */
    margin: 0 auto;
}
.header-inner {
    display: flex;
    position: relative;
}
.header-inner .logo{
    width: 50%;
    height: 90px;
    /* background-color: blue; */
}
.menu{
    width: 50%;
    height: 90px;
    /* background-color: blueviolet; */
   
}
.menu ul{
    list-style-type: none;
    position: absolute;
    bottom: 30%;
    right: 0; 
}
.menu ul li{
    float: right;
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #ff7979;
}
.menu li:hover{
    color: #eb4d4b;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}
/* body */
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}
.food-search{
    background-image: url(./Image/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}
.img-responsive{
    width: 100%;
}
.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}

/* start bottom */
.bottom{
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
}
.bottom .abcs p{
    color: #ff7979;
}
.bottom .abcs p:hover{
    color: #eb4d4b;
}

.logo_information{
    text-align: center;
    /* padding-top: 2%; */
}
.logo_information ul{
    list-style-type: none;
    padding: 1%;
    /* padding-bottom: 2%; */

}
.logo_information ul li{
    display: inline;
}
.Text_information {
    text-align: center;
    margin-bottom: 50px;
}
.Text_information a{
    
    color: #ff7979;
}