*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    list-style-type: none;
    text-decoration: none;
}
.header{
    width: 80%;
    height: 90px;
    /* background-color: aquamarine; */
    margin: 0 auto;
}
.header-inner {
    display: flex;
    position: relative;
}
.header-inner .logo{
    width: 50%;
    height: 90px;
    /* background-color: blue; */
}
.menu{
    width: 50%;
    height: 90px;
    /* background-color: blueviolet; */
   
}
.menu ul{
    list-style-type: none;
    position: absolute;
    bottom: 30%;
    right: 0; 
}
.menu ul li{
    float: right;
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #ff7979;
}
.menu li:hover{
    color: #eb4d4b;
}

.body{
    padding-top: 5%;
}
.body_Title{
    text-align: center;
}
.menu_Explore{
    width: 80%;
    padding: 1%;
    margin: auto;
    padding-top: 2%;
}
.menu_food{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    padding-bottom: 2%;
}
.img_menu_food{
    position: relative;
}
.img_menu_food img{
    border-radius: 5%;
}
.Title_Food{
    position: absolute;
    bottom: 40px;
    left: 40%;
    color: white;
}

.bottom{
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
}
.logo_information{
    text-align: center;
    padding-top: 2%;
}
.logo_information ul{
    list-style-type: none;
    padding: 1%;
    padding-bottom: 2%;

}
.logo_information ul li{
    display: inline;
}
.Text_information {
    text-align: center;
    margin-bottom: 50px;
}
.Text_information a{
    
    color: #ff7979;
}